body,
        html {
            height: 100%;
        }

        /* The hero image */

        .hero-image {

            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("5.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .nk-isotope.nk-isotope-gap {
            display: block;
            float: left;
            margin: 5px -25px;
        }

        .nk-isotope.nk-isotope-1-cols .nk-isotope-item {
            width: 100%;
            background-color: #0f070f;
            padding: 35px 0px;

        }

        .post-title a, .post-title {
            color: #733539 !important;
            font-family: "Playfair Display", serif;
            font-weight: 600;
        }

        .blog-post {
            z-index: 3;
            background-color: white;
            color: #0f070f;
            line-height: 1.55;
            letter-spacing: .004em;
            text-rendering: optimizeLegibility;
            margin-top: 0;

        }

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #0f070f;
            z-index: -1;
        }

        .post-text {
            padding: 5px;
            text-align: justify;
            margin: 30px 0;

        }


        .post-content {
            padding: 15px;
        }

        .btn-outline {
            color: #d9d9d9 !important;
            background-color: transparent;
            border: 3px solid #E4D7ED;
            display: inline-block;
            padding: 15px 30px;
            font-family: inherit;
            font-size: .96rem;
            font-weight: 500;
            line-height: 1.2;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
        }

        .btn-outline:hover {
            background-color: #0f070f;
            border-color: transparent;
            text-decoration: none;



        }

        .nk-post-thumb {
            position: relative;
        }

        .post-category a {
            display: block;
            bottom: 10px;
            left: 10px;
            min-width: 90px;
            padding: 5.5px 15px;
            margin-top: 25px;
            margin-left: 30px;
            font-size: .8rem;
            font-weight: 500;
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            background-color: #0f1525;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            position: absolute;
            margin-top: 0;
            margin-left: 0
        }

        .blog-post .nk-post-thumb:hover {
            opacity: .8
        }

        .post-category a:hover {
            background-color: #252525
        }

        .main {
            position: relative;
            width: 100%;
        }

        .widget-col {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            right: -35px;
        }

        @media screen and (max-width: 990px) {
            .widget-col {
                right: auto;
            }
        }

        .nk-img-stretch {
            width: 100%;
            height: auto
        }

        .baslik {
            color: #733539 !important;
            /*font-family: "Playfair Display",serif;*/
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            background-color: #e6e4ed !important;
        }

        .card-body a {
            font-family: "Playfair Display", serif;
            color: #0f1525 !important;
            line-height: 28px;
            font-weight: bold;


        }

        .bcolor {
            background-color: #f7f7fa !important;

        }
.lcv{
    color:#0f1525;
    font-weight: 600;
}

        .buton-go {
            background-color: #0f1525 !important;
            margin-left: 3px;
            font-weight: 600;

        }

        .buton-go:hover {
            color: #d9d9d9 !important;
            background-color: #0f070f !important;
        }

        .hero-text p {
            font-family: 'Lobster', cursive;
            word-spacing: 1.5px;
            font-size: 20px;
            color: #d7adff;
        }

        .hero-text h1 {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 6px;
            word-spacing: 3.5px;
            font-size: 50px;
        }
