img {
            width: 100%;
            margin: 8px -2px;
        }

        #header {
            text-align: center;
            color: #fff;

        }

        #header h2 {
            font-size: 3.75em;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 3.75px;
        }

        hr {
            border: none;
            border-top: 3.75px solid;

        }

        .cont {
            max-width: 1050px;
            margin: 0 auto;
        }

        #header .cont {
            padding-top: 70px;
            padding-bottom: 50px;
        }