.header h1 {
    max-width: 50%;
    color: #fbd7d7;
    text-shadow: 5px 0 #251523;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
    word-spacing: 5px;
    font-size: 50px;
    display: inline;
    margin-left: 20px;

}

@media screen and (max-width: 1200px) {
    .header h1 {
        font-size: 45px;
    }
    .topnav {
        right: 1px;

    }
     .topnav a {
        font-size: 15px;
        padding: 14px 14px;

    }
    .topnav {
        right: 10px;
    }
}

@media screen and (max-width: 690px) {
    .header h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 520px) {
    .header h1 {
        font-size: 33px;
    }
    .hero-title{
        padding: 1px;
    }
}

@media screen and (max-width: 465px) {
    .header h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .header h1 {
        font-size: 25px;
    }
    .header-inner {
        height: 70px;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f070f;
    z-index: 999;
}

.header .header-inner {
    background-color: #0f070f;
    display: inline-block;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 10000;
    float: left;
}

.topnav {
    position: relative;
    float: right;
    overflow: hidden;
    max-width: 50%;
    z-index: 999;
    min-height: 50px;
    text-align: right;
    display: inline-block;
    top: 10px;
    right: 20px;
    margin-top: 0px;


}

.topnav a {
    float: left;
    display: inline-block;
    color: #793939;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 5px;
    display: inline-block;
    border: 1px solid #fbd7d7;
    margin-left: 7px;
    letter-spacing: 5px;

}


@media screen and (max-width: 1150px) {
    .topnav a {
        font-size: 14px;
        padding: 13px 11px;

    }
    .topnav {
        right: 10px;
    }
}

.topnav a:hover {
    background-color: #fbd7d7;
    color: #3A1B1B;
    font-weight: 500;
    text-decoration: underline;
    /* color: #fbd7d7;*/
}


.topnav .icon {
    display: none;
}



@media screen and (max-width: 1050px) {
    .topnav a {
        display: none;
    }
    /*.topnav a:not(:first-child) {display: none;}*/
    .topnav a.icon {
        float: right;
        display: inline-block;
        right: 0px;
    }
}

@media screen and (max-width: 1050px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border-bottom: none;

    }
    .topnav.responsive a {
        float: none;
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        background-color: #1a2930;
        border: none;
        border-bottom: 1px solid #070F07;
        z-index: 5;

    }
    .topnav.responsive a:hover {
        color: #e4e4ed;
        background-color: #323E44;
        font-weight: 400;
    }

}

a.icon {
    border: none;
    background-color: transparent;
}


.containerr {
    margin-top: 13px;
    width: 100%;
}

body {

    background-color: #0f070f;
}

.box {
    border: 3px solid #fbd7d7;
    width: 73%;
    color: #d7adff;
    float: left;
    display: inline-block;

}

h3 {
    color: #d7adff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.slide2 {
    width: 100%;
}

.frm input {
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;

}

.hero-title {
    position: relative;
    border: 3px solid #fff;
    display: inline-block;
    max-width: 340px;
    height: auto;
    margin: auto;
    padding: 15px;
    top: 40px;
    z-index: 1;

}
.hero-title h3{
    font-size: 1.7vw;
}

.hero-title h2 {
   
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    letter-spacing: 5.5px;
    font-size: 2.1vw;
}
.hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 5;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.container-bc {
    position: relative;
    background-color: rgb(237, 232, 235);
   text-align: center;
    margin: 0;
    width: 100%;
    font-size: 3.75vw;
    font-family: 'Oswald', sans-serif;
    color: #723535;
    
   
}
           
#content
{
    padding-top: 35px;
    text-align: center;
}

#content h2
{
    font-size: 40px;
    color: #2C3E50;
}

.portfolio-item
{
   
    width: 32%;
    float: left;
    background-color: white;;
    margin-right: 1.3%;
    margin-top: 15px;
    border: 1px solid rgb(21,15,21);
    border-radius: 15px;
   
}

.portfolio-item img
{
    width: 100%;
    border-radius: 12px;
}

.portfolio-item a
{
    display: block;
    position: relative;
    
}

.caption{
    font-family: 'Playfair Display SC', serif;
    background-color: rgb(21, 15, 27);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 2.5px;
    transition: all 400ms ease-out;
    overflow: hidden;
    
   
}
        div.caption:not(span){
            opacity: 0.5;
        }
.caption:hover{   
    opacity: 0;
}
        
.caption-content
{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    margin-top: -15px;
    text-align: center;
    z-index: 2;
    text-shadow: 0.7px 0.7px white;
}
        .coption-content span{
            z-index: 5;
        }

        .fontsm{
            font-size: 3.1vw;
        }
